<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Log-in</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="signupbox">
                <div class="imagebox">
                    <img src="./login.jpeg" alt="loading">
                    <div class="formbox">
                        <form>
                            <h2>Log in to your account</h2>
                            <input type="text" id="email" name="" placeholder="Email" />
                            <input type="password" id="password" name="" placeholder="Create Password" />
                            <button type="submit" class="signupbutton" id="signup"> Log-in</button> </button>
                            <p class="footerpara"> Don't have an account ??
                                <a href="signup.html" class="switch"> Sign-up </a>
                            </p>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</body>
</html>