<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="signup.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Register</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="signupbox">
                <div class="imagebox">
                    <img src="./signup.jpeg" alt="loading">
                    <div class="formbox">
                        <form>
                            <h2>Register account</h2>
                            <input type="text" id="name" name="" placeholder="Username" />
                            <input type="email" id="email" name="" placeholder="Email Address" />
                            <input type="phone" id="phone" name="" placeholder="Contact Number" />
                            <input type="password" id="password" name="" placeholder="Create Password" />
                            <button type="submit" class="signupbutton" id="signup"> Sign Up</button> </button>
                            <p class="footerpara"> Already have an account ??
                                <a href="login.html" class="switch"> Log In </a>
                            </p>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</body>
</html>