section {
    position: relative;
    min-height: 100vh;
    background-color: #685e18;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  section .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: rgb(212, 200, 200);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

.imagebox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3567;
  }

.formbox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
  }

  .formbox form h2 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
  }

  .formbox form input {
    position: relative;
    width: 90%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .formbox form button[type='submit'] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
  }